@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --family1: 'Playfair Display', serif;
    --family2:'Black Ops One', cursive;
    --family3:'Patua One', cursive;
    --family4:'Open Sans', sans-serif;
}

*{
    margin: 0 !important;
    padding: 0 !important;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
/* 
rgb(89,169,220)
 */

 
header{
    position: fixed;
    top: 0;
    height: 100px;
    z-index: 2;
    background-color: white;
}


div.offcanvas{
    backdrop-filter: blur(25px);
    background-color:transparent;
}

nav > a{
    font-size: 16px;
    font-family: var(--family1);
}

nav > input{
    outline: none;
    border: 1px soild white;
    border-radius: 5px;
    font-size: 14px;
    font-family: var(--family1);
}

div.logo > img{
    height: 100px;
}

div.logo > h1{
    color: #59a9dc;
    font-family: var(--family2);
}

span{
    color: #176189;
}

div.search > input{
    width: 320px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding-left: 20px !important;
}

div.navx > ul > li{
    list-style-type:none;
}

div.navx > ul > li > a{
    color:  rgba(0, 0, 0, 0.63);
    font-family: var(--family1);
    font-weight: 400;
    font-size: 18px;
}

div.navx > ul > li > a:hover{
    background-color: rgb(89,169,220);
    padding: 8px 8px !important;
    border-radius: 10px;
    color: black;
    transition: all 0.5s ease-in-out;
    font-family: var(--family1);
    font-weight: 400;
    font-size: 18px;
}

div.icon > i{
    font-size: 25px;
    color: rgb(23,97,137);
}

div.container1{
    margin-top: 100px !important;
    background-image: url(../images/concert3.jpeg);
    width: 100%;
    height: 600px;
    background-size: cover;
    object-fit: cover;
    background-position:center;
    position: relative;
    padding-top: 200px !important;
    padding-bottom: 200px !important;
}

div.container1 > p{
    font-weight: 400;
    font-family: var(--family3);
    font-size: 30px;
    word-break: normal;
    color:rgba(255, 255, 255, 0.837);
}

div.container1 > button{
    font-family: var(--family1);
    width: 150px;
    height: 40px;
    border: 1px #176189 solid;
    border-radius: 10px;
    background-image: linear-gradient(to right, #59a9dc, #176189 );
}

div.container2 > div > img{
    height: 400px;
    width: 300px;
    object-fit: cover;
}

div.content1{
    font-size: var(--family3);
    font-weight: 500;
}

div.container2 > div > p{
    font-size: 16px;
    font-weight: 600;
    font-family: var(--family4);
}

main.container3{
    margin-top: 30px !important;
    background-image: url(../images/teal-bkgd.jpg);
    width: 100%;
    height: 340px;
    background-size: cover;
}

div.container4{
    font-family: var(--family4);
}

div.container4 > p{
    font-size: 12px;
}

div.container4 > button{
    color: rgb(128, 5, 5);
    margin-top: 20px !important;
    border: 1px solid white;
    border-radius: 4px;
    font-family: var(--family4);
    padding: 8px 8px !important;
    margin-bottom: 20px !important;
}

div.container5 > img{  
    height: 120px;
}

div.cover1 > h5{
    color: rgb(128, 5, 5);
    font-family: var(--family1);
}
div.cover1 > p{
    /* color: rgb(128, 5, 5); */
    font-family: var(--family4);
    font-size: 12px;
}

footer > p{
    color: rgb(128, 5, 5);
    font-family: var(--family1);
    font-size: 14px;
    margin-top: 20px !important;
}
 
